/* NAV */
nav{
  line-height: 100px;
}

nav h3{
  margin:0;
  line-height: 100px;
}

nav ul{
  list-style: none;
  margin-bottom:0;
  text-align: right;
}

nav ul li{
  display: inline;
  margin-right: 30px;
}

nav button{
  line-height: normal;
  border: 1px solid white;
  background-color: #32495B;
  border-radius: 5px;
  width:40px;
  height:26px;
  font-size: 15px;
  margin-left:70%;;
}

/* JUMBOTRONE */
.jumbotrone{
  text-align: center;
}

.jumbotrone img{
  height:250px;
}

.text-image-container{
  margin-top:50px;
  margin-bottom: 50px;
  vertical-align: middle;
}

/* SECTION PORTFOLIO */
.section-portfolio .row{
  text-align: center;
  padding-top:50px;
  padding-bottom:50px;
}

.section-portfolio img{
  width:100%;
  border-radius: 20px;
  margin-top:10px;
  margin-bottom:10px;
}

/* HOVER */
.emc2 > div{
  position:relative;
}

[class*="img-"] i{
  color:white;
  background-color: rgb(26, 188, 156, 0.8);
  border-radius: 20px;
  width:calc(100% - 30px);
  height:calc(100% - 20px);
  padding-top:10px;
  padding-bottom:10px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50% , -50%);
}

[class*="img-"] > a{
  display:none;
}

[class*="img-"]:hover > a{
  display:block;
}

/* SECTION ABOUT */
.section-about{
  text-align: center;
  padding-top:50px;
  padding-bottom:50px;
  font-size: 20px;
}

.section-about p{
  text-align: left;
}

.section-about button{
  border: 1px solid white;
  background-color: #1ABC9C;
  border-radius: 5px;
  font-size: 20px;
  padding:10px;
  margin-top:20px;
}

/* SECTION-FORM*/

.section-form{
  padding-top:50px;
}

.my_form{
  padding-left: 0;
  padding-right: 0;
  margin-left:0;
  padding-bottom:50px;
}

.section-form h2,.about-star{
  text-align: center;
}

.section-form input{
  margin-top: 10px;
  height:50px;
  border:0px;
}

.section-form textarea{
  margin-top: 10px;
  margin-bottom: 10px;
  border:0px;
}

.form-button{
  border-radius: 5px;
  border:0px;
  color:white;
  width:75px;
  height:40px;
  font-size: 18px;
}

.section-form form [class*="col-"]{
  border-bottom:2px solid #e9ecef;
}

/* FOOTER */
.footer-section{
  text-align: center;
  color:white;
  padding-top:50px;
  padding-bottom:50px;
}

.circle-border{
  border:1px solid white;
  border-radius: 50%;
  padding:10px;
  margin:5px;
}

.footer-section i {
  width:40px;
}

.end-of-page{
  color:white;
  text-align: center;
  line-height:75px;
}

/* DIVIBAR*/
.divibar-white{
  border:1.5px solid white;
  height:3px;
  width:135px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right:10px;
}

.divibar-black{
  border:1.5px solid black;
  height:3px;
  width:135px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right:10px;
}


/* BACKGROUNDS */
.bg-blue{
background-color:#32495B;
}

.bg-green{

background-color:#1ABC9C;
}

.bg-dark-blue{
  background-color: #303E4E;
}

/* FONT CLASSES */
.white-text{
  color:white;
}

/* HELPER CLASSES */
.border{
  border:1px solid black;
  min-height: 50px;
}

.h_100{
  height:100px;
}

.h_650{
  height:650px;
}

.pb-30{
  padding-bottom:30px;
}

/* DEB */

/* [class*="col-"]{
  border:1px solid violet;
} */

/* MEDIA QUERIES */
@media screen and (max-width: 991px){

  .display-none-xs {
		display: none;
	}

}

@media screen and (min-width: 992px) and (max-width: 1199px){

  .display-none-md {
		display: none;
	}

}

@media screen and (min-width: 1200px){

  .display-none-lg {
		display: none;
	}

}
